.main-section
    flex: 0 0 calc(50% - 32px)
    display: flex
    flex-direction: column
    justify-content: space-between
    &__middle
        padding: 0 64px
    &__title
        font-weight: bold
        font-size: 70px
        line-height: 1
        color: $black
        margin: 0 0 34px
        span
            display: block
            font-size: inherit
            color: $light-green
    &__subtitle
        font-weight: 300
        font-size: 26px
        color: $gray
        margin: 0 0 60px
