@import "variables"
@import "reset"
@import "../fonts/font.css"
@import "buttons"
@import "links"
@import "togglers"
@import "form"

@import "../../components/Header/Header"
@import "../../components/Footer/Footer"
@import "../../components/Menu/Menu"
@import "../../components/Navigation/Navigation"
@import "../../components/MainSection/MainSection"
@import "../../components/City/City"
@import "../../components/Slider/Slider"
@import "../../components/OrderStepsNav/OrderSteps"
@import "../../pages/Order"
@import "../../components/OrderInfo/OrderInfo"
@import "../../components/ErrorBoundary/ErrorIndicator"
@import "../../components/Map/Map"
@import "../../components/OrderSteps/Location"
@import "../../components/OrderSteps/Cars"
@import "../../components/OrderSteps/Total"
@import "datepicker"
.page
    height: 100vh
    display: flex
    position: relative
input
    outline: none
.mb-30
    margin-bottom: 30px
@import "media"
